<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634292951906-b5m7d00en11qefaa116po85ga3g1jmqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634292951906-b5m7d00en11qefaa116po85ga3g1jmqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDaZWSH8TR_pacLUea5CYrSERyG45n4Fdg</string>
	<key>GCM_SENDER_ID</key>
	<string>634292951906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pactSafe.PactSafe-iOS-Demo</string>
	<key>PROJECT_ID</key>
	<string>pactsafe-ios-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pactsafe-ios-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634292951906:ios:335ba54f96626efabbea3b</string>
	<key>DATABASE_URL</key>
	<string>https://pactsafe-ios-demo-app.firebaseio.com</string>
</dict>
</plist>